# Godot 4+ specific ignores
.godot/
/android/
builds/*
assets/sounds/30 sec version.mp3.import
assets/sounds/Menu Theme.wav.import
assets/sounds/Mewfonts/A (1).wav.import
assets/sounds/Mewfonts/A (2).wav.import
assets/sounds/Mewfonts/A (3).wav.import
assets/sounds/Mewfonts/A (4).wav.import
assets/sounds/Mewfonts/A (5).wav.import
assets/sounds/Mewfonts/A (6).wav.import
assets/sounds/Mewfonts/A (7).wav.import
assets/sounds/Mewfonts/A (8).wav.import
assets/sounds/Mewfonts/A (9).wav.import
assets/sounds/Mewfonts/B (1).wav.import
assets/sounds/Mewfonts/B (2).wav.import
assets/sounds/Mewfonts/B (3).wav.import
assets/sounds/Mewfonts/B (4).wav.import
assets/sounds/Mewfonts/B (5).wav.import
assets/sounds/Mewfonts/B (6).wav.import
assets/sounds/Mewfonts/B (7).wav.import
assets/sounds/Mewfonts/B (8).wav.import
assets/sounds/Mewfonts/B (9).wav.import
assets/sounds/Mewfonts/C (1).wav.import
assets/sounds/Mewfonts/C (2).wav.import
assets/sounds/Mewfonts/C (3).wav.import
assets/sounds/Mewfonts/C (4).wav.import
assets/sounds/Mewfonts/C (5).wav.import
assets/sounds/Mewfonts/C (6).wav.import
assets/sounds/Mewfonts/C (7).wav.import
assets/sounds/Mewfonts/C (8).wav.import
assets/sounds/Mewfonts/C (9).wav.import
assets/sounds/Videocall.mp3.import
scenes/.DS_Store
assets/.DS_Store
assets/sounds/.DS_Store
.DS_Store
